body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #app, #app>div {
  height: 100%;
  background-image: linear-gradient(to top right, #79a6d6, #FFFFFF);
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.artistClass {
  background: white;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.bg {
  background-image: linear-gradient(to top right, #79a6d6, #FFFFFF);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.center {
  margin-top: auto;
  margin-bottom: auto;
}

.auth {
  border: 1px solid black;
  padding: 10px;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.left {
  float: left;
  width: 75%;
}

.right {
  float: right;
  width: 25%;
}
